body {
    font-family: 'Varela', sans-serif;
    background-repeat: repeat;
    background-image: url(/static/images/partybg.gif);
    background-color: black;
    margin: 0;
}

.status {
    font-size: 2em;
    display: none;
}

.main {
    text-align: center;
}

.controls {
    display: none;
    margin: 50px;
}

.column {
    text-align: center;
    height: 100%;
    width: 75%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.banner {
    font-size: +30;
    font-family: 'Permanent Marker', cursive;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 20;
    padding: 20px;
}

#upload {
    padding: 20px;
    color: white;
    background-color: rgb(180, 180, 180);
    font-size: +30;
    font-family: 'Sirin Stencil', sans-serif;
}

#boring {
    display: none;
}

.charity {
    width: 15%;
    min-width: 150px;
    max-width: 200px;
}

.wutbox {
    width: 100%;
    background-color: white;
    padding-bottom: 100px;
}
